$main-color: rgb(38, 38, 38);
$main-primarycolor: rgb(0, 255, 157);
$main-secondarycolor: rgb(12, 174, 112);
.navbar {
  position: fixed;
  height: 100%;
  background-color: $main-color;
  display: grid;
  grid-template-columns: 80px;
  grid-template-rows: 100px auto 100px;
  -webkit-box-shadow: 5px 4px 12px 3px #1a1a1a;
  box-shadow: 5px 4px 12px 3px rgb(26, 26, 26);
  img {
    margin-top: 10px;
    width: 90px;
    height: 98px;
  }
  .navbar_options {
    color: $main-primarycolor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      cursor: pointer;
      margin: 20px;
      width: 40px;
      height: 40px;
      transition: 0.3s;
    }
    svg:hover {
      margin: 30px;
      width: 50px;
      height: 50px;
    }
  }
}

.main {
  color: white;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto;
  min-height: 100vh;
  background: rgb(31, 31, 31);
  margin-left: 80px;
  .title {
    .heading {
      font-size: 4vw;
      font-weight: bolder;
    }
    margin: auto;
    padding: 15%;
    font-size: 20px;
    color: white;
    span {
      color: $main-secondarycolor;
      font-weight: bolder;
    }
    .buttonContainer {
      display: flex;
      flex-direction: column;
      width: 200px;
    }
  }
  button {
    margin: 15px;
  }
  button:hover {
    background: $main-secondarycolor;
    transform: scale(1.2);
  }
  img {
    border-radius: 15px;
  }
  .technologies {
    font-size: 14px;
    padding: 15px;
    text-align: right;
  }
}

@media only screen and (max-width: 1180px) {
  .main {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    .title {
      .heading {
        font-size: 8vw;
      }
      .buttonContainer {
        margin: auto;
        margin-top: 20px;
        width: 80%;
        max-width: 400px;
      }
      padding: 10%;
    }
  }
}
